@model Password.Web.Models.UserModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <label>Enter user id to generate password</label>
            @Html.EditorFor(m => m.UserId)
            <input type="submit" name="submit" value="Generate" />
    }

    <div id="result" class="col-md-12">
        @Html.DisplayFor(m => m.Password)
    </div>
</div>